<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    
        <table width="549" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td style="background-color:#337ab7;">
                                        <center>
                                            <img src="http://bizcard.online/img/logo.png">
                                        </center>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="24" bgcolor="#FFFFCC" style="border-left:solid 1px #a7a7a7;border-right:solid 1px #a7a7a7;border-top:solid 1px #a7a7a7;font-family:Arial,Helvetica,sans-serif;font-size:12px;padding-left:15px;color:#337ab7">
                                        <strong>Bizcard Info </strong>: <address1>
</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                 
            </tbody>
        </table>

        <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td rowspan="10" valign="top">
                <img src="http://bizcard.online/images/><logo>" width="10px"/ >
            </td>
        </tr>
        <tr>
            <td style="width: 100px">
                Name:
            </td>
            <td>
                <firstname> <lastname>
            </td>
        </tr>
        <tr>
            <td style="width: 100px">
                Title:
            </td>
            <td>
                <title>  
            </td>
        </tr>
        <tr>
            <td style="width: 100px">
                Address:
            </td>
            <td>
                <address1> <address2>
                <br />
                <city> <state> <postalcode><br />
            </td>
        </tr>
                 <tr>
                     <td>
                         Mobile Number:
                     </td>
                     <td>
                         <phonenumber>
</td>
        </tr>
        <tr>
        <td>
            Business Number:
        </td>
            <td>
                <businessnumber> 
            </td>
    </tr>
    <tr>
        <td>
            Fax Number:
        </td>
        <td>
            <faxnumber>
</td>
    </tr>
    <tr>
        <td>
            Work Number:
        </td>
        <td>
            <directnumber>
        </td>
    </tr>
    <tr>
        <td>
            Email Address:
        </td>
        <td>
            <businessemail>
        </td>
    </tr>
    <tr>
        <td>
            Website:
        </td>
        <td>
            <website>
        </td>
    </tr>
</table>
    
</body>
</html>
