<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table width="300" border="0" cellspacing="0" cellpadding="0" style="background-color:white;border:1px solid #D5D5D5;box-shadow: 16px 3px 10px -7px #888, -10px 0px 20px -7px #888;">
        <tr>
            <td>
                <table width="300" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td>
                                <center>
                                    <img src="http://bizcard.online/images/<logo>" style="width: 135px;">
                                </center>
                            </td>
                        </tr>
                        <tr> 
                            <td>
                                <message>  
                            </td>
                        </tr>
                    </tbody>
                </table>
                 
            </td>
        </tr> 
    </table>
</body>
</html>
