@{
    ViewBag.Title = "Bizcard.Online - Fast, Secure, Business Cards Online";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="testimonials" class="padding-top100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="text-center">
                    <h1>Fast, Secure, Business Cards Online. </h1>
                    <h2 class="wow fadeIn animated" style="visibility: visible;">What Clients Say About Us</h2>
                    <h4 class="wow fadeInRight animated" style="visibility: visible;">Bizcard.Online is an online platform that allows you to share your Business card online.</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow fadeInRight animated" style="visibility: visible;">
                <!-- Testimonials Widget -->
                <div class="row margin-top25">
                    <div class="testimonials widget">
                        <div class="clearfix"></div>
                        <div id="testimonials-carousel" class="testimonials-carousel carousel slide">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="testimonial item">
                                            <p>
                                                Bizcard.Online allowed us to share our business cards online fast and securely!
                                            </p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Testimonials Widget -->
        </div>
    </div>
</div>



<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeIn animated" style="visibility: visible;">
                <div class="content-box big ch-item bottom-pad-small">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"><i class="fa fa-rocket"></i></div>
                            <div class="ch-info-back">
                                <i class="fa fa-rocket"></i>
                            </div>
                        </div>
                    </div>
                    <div class="content-box-info">
                        <h3>FAST SHARING</h3>
                        <p>
                            Allow your contacts to share your business card with their networks more easily and efficiently.
                        </p>
                        <a href="http://blog.bizcard.online/fast-sharing">Read More <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                    </div>
                    <div class="border-bottom margin-top30">
                    </div>
                    <div class="border-bottom">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeIn animated" style="visibility: visible;">
                <div class="content-box big ch-item bottom-pad-small">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"><i class="fa fa-lock"></i></div>
                            <div class="ch-info-back">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                    </div>
                    <div class="content-box-info">
                        <h3>SECURITY BUILT IN</h3>
                        <p>
                            Approve contacts in advance by providing a unique GUID for each share.
                        </p>
                        <a href="http://blog.bizcard.online/security">Read More <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                    </div>
                    <div class="border-bottom margin-top30">
                    </div>
                    <div class="border-bottom">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeIn animated" style="visibility: visible;">
                <div class="content-box big ch-item">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"><i class="fa fa-usd"></i></div>
                            <div class="ch-info-back">
                                <i class="fa fa-usd"></i>
                            </div>
                        </div>
                    </div>
                    <div class="content-box-info">
                        <h3>SAVE MONEY</h3>
                        <p>
                            Save money and share an unlimitted amount times - 24/7 - 365 days a year.
                        </p>
                        <a href="http://blog.bizcard.online/save-money">Read More <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                    </div>
                    <div class="border-bottom margin-top30">
                    </div>
                    <div class="border-bottom">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>