@{
    ViewBag.Title = "Tyrone Moodley";
} <div class="jumbotron">
    <div class="container"> 
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="row businesscard">   
                    <div class="row">
                        <div class="col-lg-6 col-xs-0"></div>
                        <div class="col-lg-6 col-xs-12"><img src="~/images/logo-site.png" /></div>
                    </div>
                    <div class="row">
                    <div class="pull-left col-sm-6">                       
                        <div id="Name">
                            Tyrone Moodley  
                        </div>
                        <div id="Title">
                            Director of Web Development
                        </div>
                    </div>
                        <div class="pull-left col-sm-6">
                            <div id="info">
                                980 Fraser Dr, Suite 113<br />
                                Burlington, Ontario L7L 5P5<br />
                                Direct:  289.288.4158<br />
                                Office:  905.631.5899<br />
                                Fax:     905.631.3214<br />
                                Cell:    647.548.5237<br />
                                Email:   ty@rankhigher.ca<br />
                                Website: www.rankhigher.ca<br />
                            </div>
                        </div>
                    </div>
                </div>
                @*<img src="/images/tyrone_moodley.png" alt="Tyrone Moodley" class="img-responsive center-block businesscard">*@
            </div>
        </div>
    </div>
</div>

